.categoriasList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.categoriaCard{
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  width: 25rem;
  height: 18rem;
  gap:1rem;
  border:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.categoriaCard:hover {
  transform: scale(1.03);
}

.categoriaNome{
  background: linear-gradient(135deg, #ff31a9, #ff6a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.categoriaAno{
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.categoriaDescricao{
  font-size: 1rem;
  text-align: justify;
  font-weight: 500;
}
