.featuresSection {
  background: #f8f9fa;
  padding: 6rem 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
   background: linear-gradient(90deg, #961b81 0%, #e6007e 60%, #ed6d05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0 0 1rem 0;
}

.subtitle {
  font-size: 1.2rem;
  
  color: #434242;
  margin: 2rem 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;
}

.featureCard {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(90deg, #961b81 0%, #e6007e 60%, #ed6d05 100%) border-box;
  cursor: pointer;
            }

.icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: block;
}

.featureTitle {
  font-family: var(--font-anton);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
   background: linear-gradient(90deg, #961b81 0%, #e6007e 60%, #ed6d05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 1rem 0;
}

.featureDescription {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin: 0;
}


/* Responsivo */
@media (max-width: 768px) {
  .featuresSection {
    padding: 3rem 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .featuresGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .featureCard {
    padding: 1.5rem;
  }

  .capabilitiesList {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.7rem;
  }

  .featureTitle {
    font-size: 1.3rem;
  }

  .capabilitiesTitle {
    font-size: 1.5rem;
  }
}